header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

span {
  display: inline-block;
}

.logo {
  color: MediumAquamarine;
}

.header_p p {
  display: inline;
  margin-left: 20px;
  color: MediumAquamarine;
}
