header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

li {
  display: inline-block;
}

.logo {
  color: MediumAquamarine;
}

.logo p {
  display: inline;
  margin-left: 20px;
}
